:root {
    --primary-color: #880f0A;
    --secondary-color: #fefefe;
}

body {
    margin:0px;
    padding:0px;
    font-family: 'Oswald', sans-serif;
    background-color:#fefefe;
  }

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
}

header #logoHeader {
    height: 80px;
    padding: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 20px 0 20px 0;
}

header nav ul li a {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: lighter;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: var(--primary-color) 5px solid;
}

header .boldButton {
    background-color: var(--primary-color);
    color: #fefefe;
}

header .boldButton:hover {
    color: var(--secondary-color);
    background-color: black;
    border-bottom: var(--primary-color) 5px solid;
}

header nav ul #dropDown {
    display: block;
    position: absolute;
    top: 100px;
    color:black;
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
}

header #iconBar {
    display: flex;
    justify-content: right;
}

header #iconBar li a {
    padding: 0;
    margin: 0;
}

header a img {
    height: inherit;
}

header #iconsNav {
    display: flex;
    justify-content: space-around;
}

header .popup-bg {
    position: fixed;
    opacity: 0;
    top: bottom;
}

.hero .heroText {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.hero #heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
}

.hero #aboutUs {
    width: 50%;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.hero #heroForm {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
    border-radius: 15px;
    border: black solid 2px;
}

.hero #heroText h1 {
    color: var(--secondary-color);
    text-shadow: 0 0 5px black;
    font-size: 48px;
}

.video-carousel {
    display: flex;
    justify-content: center;
}

.video-carousel #carouselVideoDark {
    width: 560px;
}