:root {
    --primary-color: #880f0A;
    --secondary-color: #fefefe;
}

body {
    margin:0px;
    padding:0px;
    font-family: 'Oswald', sans-serif;
    background-color:#fefefe;
  }

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fefefe;
}

header #logoHeader {
    height: 80px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: lighter;
    font-size: 1.55vm;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: black;
}

header .boldButton {
    background-color: var(--primary-color);
    color: #fefefe;
}

header .boldButton:hover {
    color: var(--secondary-color);
    background-color: black;
    border-bottom: darkred 5px solid;
}

header nav ul #dropDown {
    display: block;
    position: absolute;
    top: 100px;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
}

header #iconBar {
    display: flex;
    justify-content: right;
}

header #iconBar li a {
    padding: 0;
    margin: 0;
}

header a img {
    height: inherit;
}

header #iconsNav {
    display: flex;
    justify-content: space-around;
}

header .popup-bg {
    position: fixed;
    opacity: 0;
    top: bottom;
}


.hero video {
    display: inline-block;
    width: 100%;
}

.hero #heroText {
    display: inline-block;
    position: relative;
    text-align: center;
}

.hero #heroText h1 {
    text-align: center;
}