:root {
    --primary-color: #880f0A;
    --secondary-color: #fefefe;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    background-color: #fefefe;
    overflow-x: hidden;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s;
    z-index: 100;
}

.header-scroll {
    background-color: rgba(0, 0, 0, 0.8);
}

header #logoHeader {
    height: 80px;
    padding: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}

header nav ul li .navOption {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: lighter;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li .navOption:hover {
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: var(--primary-color) 5px solid;
}

header .boldButton {
    background-color: var(--primary-color);
    color: #fefefe;
}

header .boldButton:hover {
    color: var(--secondary-color);
    background-color: black;
    border-bottom: var(--primary-color) 5px solid;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid 5px rgba(0, 0, 0, 0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 101;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

header #iconBar {
    display: flex;
    justify-content: right;
}

header #iconBar li a {
    padding: 0;
    margin: 0;
}

header a img {
    height: inherit;
}

header #iconsNav {
    display: flex;
    justify-content: space-around;
}

header .popup-bg {
    position: fixed;
    opacity: 0;
    top: bottom;
}

.hero {
    border-bottom: solid 10px black;
}

.hero .heroText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.hero #heroVideo {
    position: absolute;
    z-index: -1000;
}

.hero #aboutUs {
    width: 50%;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.hero #heroForm {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
    border-radius: 15px;
    border: black solid 2px;
}

.hero #heroForm .form-input {
    border-radius: 5px;
    margin: 5px;
}

.hero #heroText h1 {
    color: var(--secondary-color);
    text-shadow: 0 0 5px black;
    font-size: 48px;
}

#page-content {
    text-align: center;
    width: 50%;
    margin: 75px auto;

}

#page-content p {
    font-size: 24px;
}

.section-header {
    color: var(--primary-color);
    margin: 20px;
    text-align: center;
    font-size: 48px;
}

#banner-home {
    background-color: var(--primary-color);
    text-align: center;
    padding: 30px;
}

#icon-display {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 24px;
}

.icon-text {
    margin: 10px;
}

.icon-text i {
    font-size: 86px;
    color: var(--primary-color);
}

.icon-text i::before{
    background-color: var(--secondary-color);
    border-radius: 50%;
    /* width: 100px;
    height: 100px; */
    padding: 25px;
}

#bannerBBB img {
    height: 52px;
}

.video-carousel {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.video-carousel #carouselVideoDark {
    width: 560px;
}

.map-container {
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.map {
    margin-top: -60px;
    margin-bottom: 25px;
}

#footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 5px;
}

#footer-text {
    display: flex;
    justify-content: center;
}

#icons {
    margin-bottom: 7px;
}

#icons a {
    text-decoration: none;
}

.bi {
    color: var(--secondary-color);
    margin: 4px;
    font-size: 24px;
}

#footer-text a {
    margin: 5px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}